.card {
  margin: 20px auto;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 15px;
  padding: 15px;
  color: rgb(122, 122, 122);
}

.pageTitle {
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  line-height: 28px;
  margin: 10px 0 0 0;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  list-style: none;
}

.temp {
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  color: black;
}

img {
  height: 70px;
  float: left;
}

.units {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
  margin-left: 5px;
  color: black;
}
